img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px; 
    margin-top: 20px;
}

section {
    float: left; 
    margin-top: 30px; /* Ajusta este valor según sea necesario para bajar la sección */

}

a {
padding-left: 1300px; 
float: right;

}

